$logoPath: "/assets/img/league/league-horizontal.svg";
$logoPathMobile: "/assets/img/league/league-horizontal.svg";

$lpLogoPath: "/assets/img/league/league-horizontal.svg";
$lpLogoPathPinned: "/assets/img/league/league-horizontal.svg";
