#enduranceMode:hover #endMdSpan{
	visibility:visible;
}

#endMdSpan{
	visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}